@{
    ViewData["Title"] = "Главное меню";
}

<!DOCTYPE html>
<html>
<body>
    <a class="btn btn-info" href="~/Home/ShowWeatherArchives">Просмотр погодных архивов</a>
    <a class="btn btn-info" href="~/Home/LoadNewWeatherAcrchives">Загрузка погодных архивов</a>

</body>
</html>