@using MoscowWeather.Models
@model ExcelFileViewModel

@{
    ViewData["Title"] = "Загрузка архивов";
}

<!DOCTYPE html>

<html>
<body>
    <h3>Выберите файл для загрузки</h3>
    <form asp-action="AddFiles" asp-controller="Home" method="post" enctype="multipart/form-data">
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-4">
                <input type="file" asp-for="ExcelFiles" multiple />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <input type="submit" value="Загрузить" class="btn btn-primary" />
            </div>
        </div>
    </form>
</body>
</html>
